rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Admin check function
    function isAdmin() {
      // Check if the user's UID exists in the 'admins' collection.
      return exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    // Treatments can be read by anyone, but only written by admins.
    match /treatments/{treatmentId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Products can be read by anyone, but only written by admins.
    match /products/{productId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    // Videos can be read by anyone, but only written by admins.
    match /videos/{videoId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Appointments can be created by any authenticated user.
    // They can only be read or modified by an admin.
    match /appointments/{appointmentId} {
      allow read, update, delete: if isAdmin();
      allow create: if request.auth != null;
    }

    // The admins collection is restricted to admins only.
    match /admins/{userId} {
      allow read, write: if isAdmin();
    }
  }
}
